/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: verb;
  src: url(../public/font/VerbCondRegular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: verb;
  /* color-scheme: dark; */
  /* outline: 1px solid red; */
}
.left-color {
  position: relative;
}
.left-color::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%; /* Adjust this value to control the width of the colored section */
  background-image: linear-gradient(
    to right,
    #eebd89,
    #d13abd
  ); /* Adjust this value to change the color */
  z-index: -1;
  transform: skew(-15deg); /* Adjust this value to change the slant angle */
  transform-origin: top left;
}
